* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(223, 203, 192);
}

main {
    background-color: rgba(255, 2, 2, 0.87);
    width: 500px;
    padding: 10px;
    margin: 30px; /* Exemplo de margem */
    border: 5px solid rgb(20, 20, 20); /* Borda que parecia ser o objetivo original */
}
.img-box {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(238, 238, 238); /* opcional, só se quiser borda */
}
body {
    background-image: url('../imagens/twin-peaks.png');
    background-size: cover;        /* cobre toda a tela */
    background-position: center;   /* centraliza a imagem */
    background-repeat: no-repeat;  /* evita repetição */
    background-attachment: fixed;  /* mantém a imagem fixa no fundo */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

