* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(236, 236, 236);
}

main {
    background-color: rgba(216, 135, 196, 0.87);
    width: 500px;
    padding: 10px;
    margin: 30px; /* Exemplo de margem */
    border: 5px solid black; /* Borda que parecia ser o objetivo original */
}
